<!DOCTYPE html>
<html ng-app="ShoppingListDirectiveApp">
<head>
	<meta charset="utf-8">
	<title> Directives with controller </title>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1> Directives with controller </h1>
	<!-- List #1 unlimited items -->
	<div id="list1" ng-controller="ShoppingListController1 as list1">
		<input type="text" ng-model="list1.itemName" placeholder="item name">
		<input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
		<button ng-click="list1.addItem();"> Add Item </button>
		<shopping-list items="list1.items" title="{{list1.title}}"></shopping-list>
	</div>
</body>
</html>