<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
    <meta charset="utf-8">
    <title> Assignment 3</title>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <style src="style.css"></style>
    <title> Narrow It Down App</title>
</head>
<body>
    <div ng-controller="NarrowItDownController as ctrl">
        <div>Enter the search string:</div>
        <br>
        <input type="text" ng-model="ctrl.searchString" placeholder="Enter search string">
        <button ng-click="ctrl.narrowItDown();"> Narrow It Down For Me!</button>
        <br>
        <br>
        <br>
        <br>
<!--         <div>
            <ul ng-repeat="item in ctrl.found">
                <li>
                    {{item.short_name}}::{{item.name}},{{item.description}}
                    <button ng-click="ctrl.removeMatchItem($index)"> remove item!</button>
                </li>
            </ul>
        </div> -->
        <found-items on-remove="ctrl.removeMatchItem(removeIdx)" items="ctrl.found"> </found-items>
    </div>
    </body>
    </html>
