<!DOCTYPE html>
<html ng-app="ShoppingListApp">
<head>
	<meta charset="utf-8">
	<title> Custom Service</title>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1> Custom Service through a factory</h1>
	<!-- List #1 unlimited items -->
	<div id="list" ng-controller="ShoppingListController as list">
		<h3> Shopping List</h3>
		<input type="text" ng-model="list.itemName" placeholder="item name">
		<input type="text" ng-model="list.itemQuantity" placeholder="quantity">
		<button ng-click="list.addItem();"> Add Item </button>
		<ol>
			<li ng-repeat="item in list.items">
				{{item.quantity}} of {{item.name}}
			<button ng-click="list.removeItem($index)"> Remove Item</button>
			</li>
		</ol>
		<div class="Error"> Error: {{list.errorMessage}} </div>
	</div>
</body>
</html>