<!DOCTYPE html>
<html ng-app="ShoppingListEventsApp">
<head>
	<meta charset="utf-8">
	<title> Shopping List with Events </title>
    <script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1> Shopping List with Components </h1>
	<!-- List #1 unlimited items -->
	<div id="list" ng-controller="ShoppingListController as list">
		<input type="text" ng-model="list.itemName" placeholder="item name">
		<input type="text" ng-model="list.itemQuantity" placeholder="quantity">
		<button ng-click="list.addItem();"> Add Item </button>
        <span> {{ list.lastRemoved}}</span>
		<shopping-list
            items="list.items"
            title="{{list.title}}"
            on-remove="list.removeItem(index)">
        </shopping-list>
	</div>

    <loading-spinner> </loading-spinner>
</body>
</html>
