.error{
    color: red;
    font-size: 15px;
    font-weight: bold;
    display: none;
}

#list1,#list2{
    float: left;
}

#list2{
    margin-left: 20px;
}

.warning{
    font-style: italic;
}

.title{
    background-color: yellow;
}
